{% extends "base.html" %}

{% block metatags %}
    {% include "includes/no_robots.html" %}
{% endblock %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}
  <form method="post">
  {% csrf_token %}
    <div class="form-group">
      {% if form.username.errors %}
        <div class="alert alert-danger alert alert-success alert-dismissable fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          {{ form.username.errors }}
        </div>
      {% endif %}
      {{ form.username }}
    </div>
    <div class="form-group">
      {% if form.email.errors %}
        <div class="alert alert-danger alert alert-success alert-dismissable fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          {{ form.email.errors }}
        </div>
      {% endif %}
      <label for="id_email">Email</label>
      {{ form.email }}
    </div>
    <div class="form-group">
      {% if form.last_name.errors %}
        <div class="alert alert-danger alert alert-success alert-dismissable fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          {{ form.last_name.errors }}
        </div>
      {% endif %}
      <label for="id_last_name">Фамилия</label>
      {{ form.last_name }}
    </div>
    <div class="form-group">
      {% if form.first_name.errors %}
        <div class="alert alert-danger alert alert-success alert-dismissable fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          {{ form.first_name.errors }}
        </div>
      {% endif %}
      <label for="id_first_name">Имя</label>
      {{ form.first_name }}
    </div>
    <div class="form-group">
      {% if form.password1.errors %}
        <div class="alert alert-danger alert alert-success alert-dismissable fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          {{ form.password1.errors }}
        </div>
      {% endif %}
      <label for="id_password1">Пароль</label>
      {{ form.password1 }}
    </div>
    <div class="form-group">
      {% if form.password2.errors %}
        <div class="alert alert-danger alert alert-success alert-dismissable fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          {{ form.password2.errors }}
        </div>
      {% endif %}
      <label for="id_password2">Подтверждение пароля</label>
      {{ form.password2 }}
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
  </form>

  <div class="row">
    <div class="col-lg-12" style="margin-top: 16px;">
      <h6>Есть аккаунт? <a href="/login">Войти</a></h6>
    </div>
  </div>

{% endblock %}